/* *{
  border: 1px solid red
} */
.grid-item {
  width: auto;
  height: auto;
}
.grid {
  background: linear-gradient(rgb(33,26,33), white);
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.keep {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 5px;
  border-radius: 8px;
  width: 200px;
  height: auto;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}